# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nawaz_traders?schema=public"

# DATABASE_URL="postgresql://neondb_owner:npg_LH1VMdrzEs7Z@ep-flat-cell-amow3cjw-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"


# JWT Auth Secret
JWT_SECRET="super-secret-grain-erp-jwt-key-change-in-production-2026"

# Node Environment
NODE_ENV="development"
DB_PASSWORD=7860
DB_PORT=5432
DB_USER=postgres
DB_HOST=localhost